<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Music Genre</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="container">
    <h1>Random Music Genre</h1>
    <p>The random genre is: <%= genre %></p>
    <a href="/">Generate Another</a>
    </div>

    <%- include('partials/footer') %>

</body>
</html>